* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilizando o header*/
header {
    background-color: #0528F2;
    width: 100%;
    border-radius: 0 0 20px 20px;
}

.sub {
    border-radius: 0;
    border-bottom: 1px solid #b5b5b5;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: inherit;
}

.inicio {
    display: flex;
    padding: 15px 13px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.inicio img {
    width: 125px;
}

.icon {
    height: 50px;
}

.icon img {
    width: 50px;
}

.nav {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

.subMenu {
    display: flex;
    position: absolute;
    background-color: #0528F2;
    top: 80.8px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    z-index: 2;
}

.link {
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 20px 8px;
    text-decoration: none;
    border-bottom: 1px solid #b5b5b5;
    align-self: stretch;
    font-size: 20px;
}

.link:last-child {
    border-radius: 0 0 20px 20px;
}

/* Estilizando o main*/
main {
    width: 100%;
    min-height: calc(100vh - 80px - 96px);
    display: flex;
    flex-direction: column;
}

.titulo {
    font-size: 25px;
    color: #000;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding: 8px 10px 0 10px;
    margin: 20px 21px 0 21px;
    border-bottom: 1px solid #000;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.label {
    border: 8px solid #000;
    width: 100%;
}

.score {
    display: flex;
    padding: 10px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
}

.score h2 {
    font-size: 25px;
    color: #000;
}

.score-value {
    font-size: 25px;
    color: #000;
}

.game-board {
    display: flex;
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #3084f2 0%, #F2F1F0 100%);
    border-bottom: 5px solid #0b7e01;
    text-align: center;
}

.pag1 {
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #000;
    opacity: 0.8;
    padding: 0 10px;
    z-index: 1;
}

.pag1 h2 {
    font-size: 25px;
    color: #fff;
}

.personagens {
    position: absolute;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 30px;
    align-items: flex-end;
    opacity: 1;
}

.mario {
    width: 100px;
    cursor: pointer;
}

.sonic {
    width: 80px;
    cursor: pointer;
}

.invisivel {
    display: none;
}

.subtitulo::after {
    content: " o botão abaixo!";
}

.nuvem {
    position: absolute;
    top: 25px;
    right: 0;
    width: 200px;
}

.tubo {
    height: 60px;
    position: absolute;
    bottom: 0;
    right: 40px;
}

.personagem {
    display: flex;
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 30px 60px;
    margin: 20px auto 0 auto;
    color: #000;
    font-size: 25px;
    background: #d9d9d9;
    border: 1px solid #000;
    border-radius: 30px;
}

.invisivel {
    display: none;
}

.animatubo {
    animation: pipe-animation 1.5s infinite linear;
}

.animanuvem {
    animation: cloud-animation 15s infinite linear;
}

.jump {
    animation: jump 800ms ease-out;
}

/* Estilizando o footer*/
footer {
    background-color: #0528F2;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    gap: 4px;
    padding: 10px 13px 0 13px;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.logos img {
    width: 125px;
}

.redes {
    display: flex;
    align-items: center;
    gap: 15px;
}

.redes a img {
    width: 40px;
}

.redes a {
    height: 40px;
}

.foot p {
    font-size: 12px;
    color: #fff;
    height: 14px;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    padding: 5px 0;
}

.copy img {
    width: 14px;
    height: 14px;
}

.copy p {
    font-size: 10px;
    color: #d5d5d5;
    display: flex;
    align-items: center;
}

/* Animações */
@keyframes pipe-animation {
    from {
        right: -55px;
    }
    to {
        right: 100%;
    }
}

@keyframes cloud-animation {
    from {
        right: -200px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 100px;
    }
    50% {
        bottom: 100px;
    }
    60% {
        bottom: 100px;
    }
    100% {
        bottom: 0;
    }
}

/* Responsividade*/
@media screen and (min-width: 744px) {
    .head {
        width: 702px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 0;
    }
    .inicio {
        border: none;
        padding: 0;
    }
    .icon img {
        display: none;
    }
    .nav {
        display: flex;
        flex-direction: row;
        border: none;
        padding-right: 13px;
        gap: 20px;
    }
    .link {
        border: none;
        align-items: center;
        padding: 13px 8px;
    }
    .foot {
        width: 702px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0 0 0;
    }
    .titulo {
        width: 702px;
        margin: 20px auto 0 auto;
    }
    .score {
        width: 702px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0;
    }
    .personagens {
        gap: 80px;
    }
}

@media screen and (min-width: 1200px) {
    .head {
        width: 1136px;
    }
    .foot {
        width: 1136px;
    }
    .titulo {
        width: 1136px;
    }
    .score {
        width: 1136px;
    }
    .personagens {
        gap: 120px;
    }
    .subtitulo::after {
        content: " qualquer tecla!";
    }
}